/* ====================
UNIVERSAL STYLES (BODY)
======================*/

body {
  font-family: avenir;
  text-align: center;
  margin: 0 auto;
}

img {
  height: 200px;
  width: 150px;
}


/* ====================
      NAVBAR
======================*/

nav {
  background-color: #860700;
      }

a {
        background-color: #860700;
        color: white;
        text-decoration: none;
        display: block;
        float: left;
        padding: 15px;
      }

a:hover {
        background-color: #FF7A73;
      }

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

/* ====================
      DESCRIPTION
======================*/

h1 {
  color: #D9241A;
  text-align: center;
}

h2 {
  color: #212121;
  text-align: center;
}

p{
  text-align: center;
  width: 80%;
  color: grey;
  margin: 0 auto;
}

/* ====================
      DESCRIPTION
======================*/


.table {
  background: url("https://s-media-cache-ak0.pinimg.com/originals/f6/01/15/f60115df7829028bbc2af7f774ec6b86.jpg");
  margin-top: 30px;
  border: 5px solid #860700;
  height: auto;

}


.board {
  height: 80%;
  width: 50%;
  display: inline-block;
  margin-left: 90px;
}


.card{
  height: 200px;
  width: 150px;
  border: 1px solid black;
  background: url("http://i.imgur.com/rLocMCg.png");
  border-radius: 10px;
  float: left;
  margin:8%
}


footer {
  background-color: #860700;
  text-align: center;
  padding: 20px;
  color: #fff;
}


.name {
  font-weight: bold;
}
